<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaPresentacion.Properties.Settings.BDEmpresaConnectionString"
            connectionString="Data Source=KIKE-PC\SQLEXPRESS2014;Initial Catalog=BDEmpresa;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaPresentacion.Properties.Settings.BDEmpresaConnectionString1"
            connectionString="Data Source=KIKE-PC\SQLEXPRESS2014;Initial Catalog=BDEmpresa;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>